@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@media (min-width: 992px) {
  .navbar-nav {
    gap: 150px;
  }
}

header {
  padding: 15px 0px 15px 0px;
}

.nav-link {
  font-size: 18px;
  color: #fff;
}

.nav-links a:hover {
  color: #000;
}

.carousel-item img {
  height: 60vh;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  background-size: 100% 100%;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}



.carousel {
  height: 600px;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.carousel-caption h5,
.carousel-caption p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.gyikSection {
  background-color: #efefef;
}

.gyikSection i {
  font-size: 28px;
}

.logo {
  width: 90px;
}

.info-section {
  background-color: #f5f5f5;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #6EA285;
}

.info-box {
  background-color: #ffffff;
  border-radius: 20px;
}


.carousel-item {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption h3, .carousel-caption p,  footer{
  color: #fff;
}

footer,
header {
  background-color: #6EA285;
  ;
}

.nav-item {
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  padding-bottom: 5px;
}

.nav-item:hover,
.nav-item:active {
  border-bottom-color: #000;
}

.nav-link:hover,
.nav-link:active {
  color: #000 !important;
}

.card-icon{
  position: absolute;
  left: 40%;
  top: 48%;
  background-color: #ffffff;
  padding: 10px 15px;
  font-size: 33px;
  border-radius: 50%;
}

.tipSection .card {
  margin:40px;
  padding: 0px;
}

.card-title{
  margin-top: 30px;
}

h3, h2{
  text-transform: uppercase;
}

h3, h2, h4{
  font-weight: bold;
}

.accordion{
  --bs-accordion-active-bg:#fff;
  --bs-accordion-active-color:#000000;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-body{
  border-left: 5px solid #000;
  background-color: #fcfcfc;
}

.roundimg{
    border: 3px solid #8d8d8d;      
    max-width: 100%;   
     width: 300px;        
    height: 300px;          
    border-radius: 50%;  
    object-fit: cover;
}

