@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 992px) {
  .navbar-nav {
    gap: 150px;
  }
}

body,
.accordion button {
  font-family: "Montserrat", sans-serif!important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.gyikSection,
header, footer {
  background-color: #004643 !important;
}

header {
  padding: 15px 0px 15px 0px;
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
  position: relative;
}

.nav-link,
.gyikSection h2, footer a {
  color: #fff !important;
}

.nav-link, .ad button{
  font-size: 20px!important;
}

.nav-link:hover {
  color: #E8F5E9 !important;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #E8F5E9;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.logo {
  width: 90px;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: rotate(8deg) scale(1.05);
}

.carousel-item img {
  height: 60vh;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  background-size: 100% 100%;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.carousel {
  height: 600px;
}

.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.carousel-caption h5,
.carousel-caption p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.gyikSection {
  background-color: #efefef;
}

.gyikSection i {
  font-size: 28px;
}

.logo {
  width: 100px;
  border-radius: 100%;
}

.info-box li{
  list-style-image: url(../img/leaf.svg);
  padding-right: 30px;
}

.info-box i, .ad i{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.info-section h2, .tipSection h2 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  margin: auto 40px;
  border-bottom: 5px dotted #6EA285!important;
}

.info-box {
  background-color: #f8f8f8;
  color: #004643;
  border-top: 20px solid #006457;
}

.card, .info-box{
  border-radius: 20px;
}

.info-box:hover,
.btn:hover, .card-icon:hover{
  transform: scale(1.1) !important;
  transition: transform 0.3s ease !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.carousel-item {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #011a186e;
}

.carousel-caption h3,
.carousel-caption p,
footer {
  color: #fff;
}

.nav-item {
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
  padding-bottom: 5px;
}


.card-icon {
  position: absolute;
  left: 40%;
  top: 46%;
  background-color: #ffffff;
  color: #6EA285;
  font-size: 33px;
  padding: 10px 15px;
}

.card-icon, .accordion-body{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.bi-question, .card-icon, .info-box i, footer i{
  border-radius: 50%;
}

.bi-question, footer i .ad i{
  background-color: #002D2B;
  color: #ffffff;
  padding: 0px 6px;
  margin-right: 20px;
}

footer, .bi-question, footer i{
  font-size: 18px!important;
}

.gyikSection h2 {
  border: none;
}

.tipSection .card {
  margin: 40px;
  padding: 0px;
}

.card-title {
  margin-top: 30px;
}

.card{
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);

}

h3, h2 {
  text-transform: uppercase;
}

section h2,
section h3 {
  color: #0B2B19;
}


h2, h4, nav, footer .btn {
  color: #0B2B19 !important;
  border: none!important;
}

h5, h2, h4, nav, footer .btn{
  font-weight: 700;
}


.accordion {
  --bs-accordion-active-color: #000000;
  --bs-accordion-btn-focus-box-shadow: none;
}


.accordion-body {
  border-left: 8px solid #6EA285;
  animation: fadeSlideIn 0.4s ease forwards;
}

.accordion-button:not(.collapsed) {
  background-color: #f5fdfb !important;
  box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.card, .accordion-button:not(.collapsed){
  color: #004643 !important;
}

.accordion-item:hover {
  transform: translateY(-3px);
}

.accordion-item button{
  font-size: 18px!important;
  color:#002D2B!important;
}

.roundimg {
  max-width: 100%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ffffff;
}

.tipSection .card:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2) !important;
  transition: transform 0.6s ease !important;
}

.roundimg{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer a{
  text-decoration: none;
}

footer i{
 padding: 10px;
}

.footer-top{
  background-image: url(../img/footerbg.png);
}
