@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

header {
    background-color: #d9d9d9;
    padding: 20px 0;
    text-align: center;
}

.nav-links {
    gap: 60px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
  }
  .carousel {
    max-height: 400px;
    overflow: hidden;
  }
  
  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  .sectionTitle{
    text-align: center;
    text-transform: uppercase;
  }

  .gyikSection i{
    font-size: 28px;
  }