header {
    background-color: #6EA285;
    padding: 20px 0;
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #000;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
  }
  .carousel {
    max-height: 400px;
    overflow: hidden;
  }
  
  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  .nav-link{
    color: #fff;
  }

  .carousel-caption h5,
.carousel-caption p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
